@import "~highlight.js/styles/github.css";

html, body {
  font-family: sans-serif;
  min-height: 100%;
  background: #fff;
  font-size: 14px;
}
.container {
  max-width: 1024px;
  margin: 2em auto;
}
section {
  margin-top: 4em;
}
table.compare {
  position: relative;
  th, td {
    padding: 1em;
    margin: 2px;
    vertical-align: top;
  }
  td.val {
    background: #f8f8f8;
    width: 40%;
    code.hljs {
      background: transparent;
      font-size: 12px;
    }
  }
}
