{% set names = ['John', 'Linda', 'Thomas', 'Elsa'] %}
{% set count = names|length - 1 %}

{# Foreach. #}
<ol>
{% for name in names %}
  <li>{{ name }}</li>
{% endfor %}
</ol>

{# Loop. Looks somewhat stretched. #}
<ol>
{% for i in 0..count %}
  <li>{{ names[i] }}</li>
{% endfor %}
</ol>
